
<script type="text/javascript"><!--

$(document).ready(function() {

});

//--></script>

<h1>images dashboard</h1>
<pre><%= @repo %></pre>
<pre><%= @log %></pre>

<pre><%= JSON.pretty_unparse(@json) %></pre>
