<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>Images Dashboard</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/images-dashboard.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery-ui.css">
    <script src="/js/jquery-3.2.1.js"     type="text/javascript"></script>
    <script src="/js/jquery-ui.js"        type="text/javascript"></script>
    <script src="/js/images-dashboard.js" type="text/javascript"></script>
  </head>
  <body>
    <images-dashboard>
      <%= yield %>
    </images-dashboard>
  </body>
</html>
