<script type="text/javascript"><!--

$(document).ready(function() {

  $('tr[name]').each(function() {
    const tr = $(this);
    const repo = tr.attr('name');
    $.ajax({
      url: '/build?repo='+repo,
      success: function(build) {
        if (build.status === 'failed') {
          build.status = '<span style="color:red;">failed</span>'
        }
        if (build.status === 'passed') {
          build.status = '<span style="color:green;">passed</span>'
        }
        $('td span.status', tr).html(build.status);
        $('td span.time',   tr).html(build.time);
        $('td span.date',   tr).html(build.date);
      }
    });
  });

});

//--></script>

<h1>Test-Frameworks<h1>
<table>
  <tr>
    <th>Name</th>
    <th name="status">Status</th>
    <th name="time">Time</th>
    <th name="date">Date</th>
    <th name="github"></th>
    <th name="travis"></th>
  </tr>
<% @repos.each do |repo| %>
  <tr name="<%= repo %>">
    <td>
      <%= repo %>
    </td>
    <td>
      <span class="status"></span>
    </td>
    <td>
      <span class="time"></span>
    </td>
    <td>
      <span class="date"></span>
    </td>
    <td>
      <a href="https://github.com/cyber-dojo-languages/<%= repo %>" target="_blank">github</a>
    </td>
    <td>
      <a href="https://travis-ci.org/cyber-dojo-languages/<%= repo %>" target="_blank">Travis</a>
    </td>
  </tr>
<% end %>
</table>
